In [7]:
import pandas as pd
data = pd.read_csv('vehicles_messy.csv')

FileNotFoundError: [Errno 2] File b'vehicles_messy.csv' does not exist: b'vehicles_messy.csv'

In [3]:
data.head()

NameError: name 'data' is not defined

In [109]:
data.describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,37843.000000,37843.000000,37843.0,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,...,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000
mean,17.532506,0.216169,0.0,0.023531,17.941389,4.042737,0.520149,0.327163,0.000406,0.184790,...,22.587229,0.652380,33.619221,0.933845,2000.064398,-2658.999022,0.004360,0.069313,0.068203,0.068573
std,4.575950,1.141527,0.0,0.427647,6.660360,9.645820,3.837874,3.542596,0.039918,2.904558,...,9.350163,5.284547,10.048326,6.059456,10.390588,2553.098329,0.142776,1.966806,1.871986,1.913647
min,0.060000,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1984.000000,-22250.000000,0.000000,0.000000,0.000000,0.000000
25%,14.330870,0.000000,0.0,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.000000,0.000000,27.100000,0.000000,1990.000000,-4250.000000,0.000000,0.000000,0.000000,0.000000
50%,17.347895,0.000000,0.0,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,21.000000,0.000000,33.000000,0.000000,2001.000000,-2500.000000,0.000000,0.000000,0.000000,0.000000
75%,20.600625,0.000000,0.0,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,25.139300,0.000000,38.109600,0.000000,2009.000000,-750.000000,0.000000,0.000000,0.000000,0.000000
max,47.087143,18.311667,0.0,12.000000,138.000000,138.304000,127.000000,127.093000,5.350000,122.000000,...,197.577100,181.560900,159.100000,152.187800,2017.000000,4000.000000,7.000000,97.000000,79.000000,88.000000

In [112]:
data.shape

(37843, 83)

In [110]:
data.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [114]:
data['fuelType'].head(4)

0    Regular
1    Regular
2    Regular
3    Regular
Name: fuelType, dtype: object

In [115]:
data.dtypes.value_counts()

float64    32
int64      27
object     23
bool        1
dtype: int64

In [119]:
data.isnull().head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False

In [1]:
x = data.isnull().sum()
x

NameError: name 'data' is not defined

In [120]:
null_cols = data.isnull().sum()
# print(null_cols)
null_cols[null_cols > 0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [121]:
type(null_cols)

pandas.core.series.Series

In [122]:
data.shape

(37843, 83)

In [124]:
drop_cols = list(null_cols[null_cols > 10000].index)
print(drop_cols)

['eng_dscr', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr', 'startStop']

In [125]:
data = data.drop(drop_cols, axis=1)

In [126]:
null_cols = data.isnull().sum()

In [127]:
null_cols[null_cols > 0]

cylinders     123
displ         120
drive        1189
trany          11
dtype: int64

In [128]:
data.shape

(37843, 70)

In [129]:
null_displ = data[(data['displ'].isnull()==True)]
null_displ.head(5)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
7138,0.240,0.0,0.0,0.0,81,0.0,0,0.0,0.0,41.0,...,0.0,Midsize Station Wagons,2000,2750,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
7139,0.282,0.0,0.0,0.0,81,0.0,0,0.0,0.0,41.0,...,0.0,Sport Utility Vehicle - 2WD,2000,2250,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8143,0.282,0.0,0.0,0.0,81,0.0,0,0.0,0.0,41.0,...,0.0,Sport Utility Vehicle - 2WD,2001,2250,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8144,0.312,0.0,0.0,0.0,74,0.0,0,0.0,0.0,46.0,...,0.0,Two Seaters,2001,1750,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8146,0.522,0.0,0.0,0.0,45,0.0,0,0.0,0.0,75.0,...,0.0,Sport Utility Vehicle - 2WD,2001,-1750,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0

In [134]:
data['displ'].isnull()==True

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
37813    False
37814    False
37815    False
37816    False
37817    False
37818    False
37819    False
37820    False
37821    False
37822    False
37823    False
37824    False
37825    False
37826    False
37827    False
37828    False
37829    False
37830    False
37831    False
37832    False
37833    False
37834    False
37835    False
37836    False
37837    False
37838    False
37839    False
37840    False
37841    False
37842    False
Name: displ, Length: 37843, dtype: bool

In [136]:
pd.set_option('display.max_columns', None)
data[(data['cylinders']==4.0)].head()
# data['cylinders'].value_counts()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,cityUF,co2,co2A,co2TailpipeAGpm,co2TailpipeGpm,comb08,comb08U,combA08,combA08U,combE,combinedCD,combinedUF,cylinders,displ,drive,engId,feScore,fuelCost08,fuelCostA08,fuelType,fuelType1,ghgScore,ghgScoreA,highway08,highway08U,highwayA08,highwayA08U,highwayCD,highwayE,highwayUF,hlv,hpv,id,lv2,lv4,make,model,mpgData,phevBlended,pv2,pv4,range,rangeCity,rangeCityA,rangeHwy,rangeHwyA,trany,UCity,UCityA,UHighway,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,423.190476,21,0.0,0,0.0,0.0,0.0,0.0,4.0,2.0,Rear-Wheel Drive,9011,-1,1600,0,Regular,Regular Gasoline,-1,-1,25,0.0,0,0.0,0.0,0.0,0.0,0,0,1,0,0,Alfa Romeo,Spider Veloce 2000,Y,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,23.3333,0.0,35.0,0.0,Two Seaters,1985,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,329.148148,27,0.0,0,0.0,0.0,0.0,0.0,4.0,2.2,Front-Wheel Drive,2100,-1,1250,0,Regular,Regular Gasoline,-1,-1,33,0.0,0,0.0,0.0,0.0,0.0,19,77,100,0,0,Dodge,Charger,Y,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,29.0000,0.0,47.0,0.0,Subcompact Cars,1985,500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,467.736842,19,0.0,0,0.0,0.0,0.0,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,66031,-1,2150,0,Premium,Premium Gasoline,-1,-1,23,0.0,0,0.0,0.0,0.0,0.0,0,0,10000,0,14,Subaru,Legacy AWD Turbo,N,False,0,90,0,0.0,0.0,0.0,0.0,Manual 5-spd,21.0000,0.0,32.0,0.0,Compact Cars,1993,-4000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
5,14.982273,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,403.954545,22,0.0,0,0.0,0.0,0.0,0.0,4.0,1.8,Front-Wheel Drive,66020,-1,1500,0,Regular,Regular Gasoline,-1,-1,24,0.0,0,0.0,0.0,0.0,0.0,0,0,10001,0,15,Subaru,Loyale,N,False,0,88,0,0.0,0.0,0.0,0.0,Automatic 3-spd,27.0000,0.0,33.0,0.0,Compact Cars,1993,-750,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
6,13.184400,0.0,0.0,0.0,22,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,355.480000,25,0.0,0,0.0,0.0,0.0,0.0,4.0,1.8,Front-Wheel Drive,66020,-1,1350,0,Regular,Regular Gasoline,-1,-1,29,0.0,0,0.0,0.0,0.0,0.0,0,0,10002,0,15,Subaru,Loyale,Y,False,0,88,0,0.0,0.0,0.0,0.0,Manual 5-spd,28.0000,0.0,41.0,0.0,Compact Cars,1993,0,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0

In [133]:
extract = ['year', 'make', 'model', 'trany', 'drive','fuelType','cylinders', 'displ']
null_displ = null_displ[extract]
null_displ.head(6)

,year,make,model,trany,drive,fuelType,cylinders,displ
7138,2000,Nissan,Altra EV,NaN,NaN,Electricity,NaN,NaN
7139,2000,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
8143,2001,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
8144,2001,Ford,Th!nk,NaN,NaN,Electricity,NaN,NaN
8146,2001,Ford,Explorer USPS Electric,NaN,2-Wheel Drive,Electricity,NaN,NaN
8147,2001,Nissan,Hyper-Mini,NaN,NaN,Electricity,NaN,NaN

In [140]:
null_displ.iloc[0]

year                2000
make              Nissan
model           Altra EV
trany                NaN
drive                NaN
fuelType     Electricity
cylinders            NaN
displ                NaN
Name: 7138, dtype: object

In [ ]:
data.iloc[0][0]

In [145]:
data[data['cylinders']==0]

Empty DataFrame
Columns: [barrels08, barrelsA08, charge120, charge240, city08, city08U, cityA08, cityA08U, cityCD, cityE, cityUF, co2, co2A, co2TailpipeAGpm, co2TailpipeGpm, comb08, comb08U, combA08, combA08U, combE, combinedCD, combinedUF, cylinders, displ, drive, engId, feScore, fuelCost08, fuelCostA08, fuelType, fuelType1, ghgScore, ghgScoreA, highway08, highway08U, highwayA08, highwayA08U, highwayCD, highwayE, highwayUF, hlv, hpv, id, lv2, lv4, make, model, mpgData, phevBlended, pv2, pv4, range, rangeCity, rangeCityA, rangeHwy, rangeHwyA, trany, UCity, UCityA, UHighway, UHighwayA, VClass, year, youSaveSpend, charge240b, createdOn, modifiedOn, phevCity, phevHwy, phevComb]
Index: []

In [144]:
x = (data['cylinders']==0) & (data['displ']!=0)
x.value_counts()

False    37843
dtype: int64

In [ ]:
data['cylinders'].value_counts()

In [ ]:
data.loc[(data['cylinders']==0) & (data['displ']!=0), 'cylinders'] = 4

In [147]:
import numpy as np
low_variance = []

for col in data._get_numeric_data(): 
    minimum = min(data[col])
    ninety_perc = np.percentile(data[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)

print(low_variance)
print(minimum)

['barrelsA08', 'charge120', 'charge240', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2A', 'co2TailpipeAGpm', 'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'fuelCostA08', 'ghgScoreA', 'highwayA08', 'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF', 'phevBlended', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy', 'rangeHwyA', 'UCityA', 'UHighwayA', 'charge240b', 'phevCity', 'phevHwy', 'phevComb']
0

/anaconda3/lib/python3.7/site-packages/numpy/lib/function_base.py:3826: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

In [ ]:
data['barrels08'].min()

In [149]:
data.describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,cityUF,co2,co2A,co2TailpipeAGpm,co2TailpipeGpm,comb08,comb08U,combA08,combA08U,combE,combinedCD,combinedUF,cylinders,displ,engId,feScore,fuelCost08,fuelCostA08,ghgScore,ghgScoreA,highway08,highway08U,highwayA08,highwayA08U,highwayCD,highwayE,highwayUF,hlv,hpv,id,lv2,lv4,pv2,pv4,range,rangeCity,rangeCityA,rangeHwy,rangeHwyA,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,37843.000000,37843.000000,37843.0,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37720.000000,37723.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.00000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000
mean,17.532506,0.216169,0.0,0.023531,17.941389,4.042737,0.520149,0.327163,0.000406,0.184790,0.000706,61.503713,5.349919,17.771433,473.179736,20.195809,4.549751,0.581191,0.359027,0.190575,0.000335,0.000691,5.737990,3.318180,8860.308961,-0.035145,1882.060090,79.070105,-0.037206,-0.929630,24.104881,5.438467,0.686891,0.418698,0.000233,0.198247,0.000673,2.026214,10.424332,19019.286235,1.849219,6.165658,13.696113,33.769125,0.392675,0.352618,0.03680,0.343399,0.033475,22.587229,0.652380,33.619221,0.933845,2000.064398,-2658.999022,0.004360,0.069313,0.068203,0.068573
std,4.575950,1.141527,0.0,0.427647,6.660360,9.645820,3.837874,3.542596,0.039918,2.904558,0.019458,153.387715,55.539497,94.129283,122.188847,6.623444,10.389994,3.966255,3.589260,2.979567,0.035284,0.019049,1.751795,1.361399,17829.683477,2.379584,510.280408,417.668580,2.374338,0.627565,6.963192,11.936327,4.308934,3.808877,0.029564,3.091862,0.018583,5.947989,28.148770,11034.784855,4.429983,9.743297,31.269930,45.914462,8.251191,8.049082,1.15827,8.171939,1.032642,9.350163,5.284547,10.048326,6.059456,10.390588,2553.098329,0.142776,1.966806,1.871986,1.913647
min,0.060000,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,0.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,-1.000000,550.000000,0.000000,-1.000000,-1.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1984.000000,-22250.000000,0.000000,0.000000,0.000000,0.000000
25%,14.330870,0.000000,0.0,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,0.000000,388.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2.200000,0.000000,-1.000000,1500.000000,0.000000,-1.000000,-1.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9461.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,18.000000,0.000000,27.100000,0.000000,1990.000000,-4250.000000,0.000000,0.000000,0.000000,0.000000
50%,17.347895,0.000000,0.0,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,0.000000,467.736842,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,3.000000,211.000000,-1.000000,1850.000000,0.000000,-1.000000,-1.000000,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18923.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,21.000000,0.000000,33.000000,0.000000,2001.000000,-2500.000000,0.000000,0.000000,0.000000,0.000000
75%,20.600625,0.000000,0.0,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,0.000000,555.437500,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.300000,4505.000000,-1.000000,2200.000000,0.000000,-1.000000,-1.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,28570.500000,0.000000,13.000000,0.000000,91.000000,0.000000,0.000000,0.00000,0.000000,0.000000,25.139300,0.000000,38.109600,0.000000,2009.000000,-750.000000,0.000000,0.000000,0.000000,0.000000
max,47.087143,18.311667,0.0,12.000000,138.000000,138.304000,127.000000,127.093000,5.350000,122.000000,0.849000,847.000000,719.000000,719.000000,1269.571429,124.000000,124.360100,117.000000,116.936400,121.000000,4.800000,0.834000,16.000000,8.400000,69102.000000,10.000000,5800.000000,3800.000000,10.000000,8.000000,111.000000,111.370000,107.000000,106.531000,4.060000,120.000000,0.813000,49.000000,195.000000,38173.000000,41.000000,55.000000,194.000000,192.000000,315.000000,305.900000,77.50400,346.900000,65.632000,197.577100,181.560900,159.100000,152.187800,2017.000000,4000.000000,7.000000,97.000000,79.000000,88.000000

In [150]:
stats = data.describe().transpose()
stats.head()

,count,mean,std,min,25%,50%,75%,max
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143
barrelsA08,37843.0,0.216169,1.141527,0.00,0.00000,0.000000,0.000000,18.311667
charge120,37843.0,0.000000,0.000000,0.00,0.00000,0.000000,0.000000,0.000000
charge240,37843.0,0.023531,0.427647,0.00,0.00000,0.000000,0.000000,12.000000
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000

In [151]:
stats['IQR'] = stats['75%'] - stats['25%']
stats.head()

,count,mean,std,min,25%,50%,75%,max,IQR
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143,6.269755
barrelsA08,37843.0,0.216169,1.141527,0.00,0.00000,0.000000,0.000000,18.311667,0.000000
charge120,37843.0,0.000000,0.000000,0.00,0.00000,0.000000,0.000000,0.000000,0.000000
charge240,37843.0,0.023531,0.427647,0.00,0.00000,0.000000,0.000000,12.000000,0.000000
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000,5.000000

In [ ]:
data1 = data.copy()

In [ ]:
data.dtypes

In [ ]:
data.dtypes.value_counts()

In [ ]:
data['year'] = data['year'].astype('object')
data['year'].dtype

In [152]:
data['trany']

0           Manual 5-spd
1           Manual 5-spd
2           Manual 5-spd
3        Automatic 3-spd
4           Manual 5-spd
5        Automatic 3-spd
6           Manual 5-spd
7        Automatic 3-spd
8           Manual 5-spd
9        Automatic 4-spd
10          Manual 5-spd
11       Automatic 4-spd
12          Manual 5-spd
13       Automatic 4-spd
14       Automatic 3-spd
15          Manual 5-spd
16       Automatic 4-spd
17          Manual 5-spd
18       Automatic 4-spd
19          Manual 5-spd
20       Automatic 5-spd
21       Automatic 5-spd
22       Automatic 4-spd
23       Automatic 3-spd
24       Automatic 3-spd
25          Manual 4-spd
26       Automatic 4-spd
27       Automatic 3-spd
28       Automatic 4-spd
29       Automatic 4-spd
              ...
37813       Manual 5-spd
37814    Automatic 3-spd
37815       Manual 5-spd
37816    Automatic 4-spd
37817       Manual 5-spd
37818    Automatic 3-spd
37819    Automatic 3-spd
37820       Manual 5-spd
37821       Manual 4-spd
37822       Manual 5-spd
37823    Automatic 3-spd
37824    Automatic 3-spd
37825       Manual 4-spd
37826       Manual 5-spd
37827    Automatic 4-spd
37828    Automatic 3-spd
37829       Manual 5-spd
37830       Manual 5-spd
37831    Automatic 3-spd
37832    Automatic 3-spd
37833       Manual 5-spd
37834    Automatic 4-spd
37835    Automatic 4-spd
37836       Manual 5-spd
37837       Manual 5-spd
37838    Automatic 4-spd
37839       Manual 5-spd
37840    Automatic 4-spd
37841       Manual 5-spd
37842    Automatic 4-spd
Name: trany, Length: 37843, dtype: object

In [153]:
print(set(data['trany']))

{nan, 'Manual 7-spd', 'Auto(AM-S8)', 'Manual(M7)', 'Auto(L4)', 'Automatic (S6)', 'Auto(AM6)', 'Automatic (S7)', 'Automatic (S4)', 'Automatic (A1)', 'Automatic (AV-S6)', 'Auto(AM-S9)', 'Auto(AM5)', 'Manual 4-spd', 'Auto(AV-S6)', 'Auto (AV)', 'Automatic (S9)', 'Auto(AV-S8)', 'Automatic (A6)', 'Automatic 9-spd', 'Automatic (AM5)', 'Auto(AM-S6)', 'Auto(L3)', 'Automatic (AV)', 'Automatic 6spd', 'Auto(AV-S7)', 'Automatic (AM6)', 'Automatic 5-spd', 'Automatic (S5)', 'Manual 6-spd', 'Auto(AM8)', 'Manual 5 spd', 'Manual 4-spd Doubled', 'Manual 3-spd', 'Automatic 6-spd', 'Manual 5-spd', 'Automatic (variable gear ratios)', 'Automatic (S8)', 'Automatic 8-spd', 'Automatic 7-spd', 'Automatic 4-spd', 'Auto(AM-S7)', 'Automatic 3-spd', 'Auto (AV-S6)', 'Auto(A1)', 'Auto(AM7)', 'Auto (AV-S8)'}

In [155]:
data['trany'] = data['trany'].str.replace('-', '')
print(set(data['trany']))

{nan, 'Manual(M7)', 'Auto(L4)', 'Automatic (S6)', 'Auto(AM6)', 'Automatic 5spd', 'Automatic (AVS6)', 'Automatic (S7)', 'Automatic (S4)', 'Automatic (A1)', 'Manual 6spd', 'Auto(AM5)', 'Auto(AVS6)', 'Auto(AVS7)', 'Automatic 7spd', 'Automatic 8spd', 'Auto (AV)', 'Automatic (S9)', 'Automatic (A6)', 'Automatic (AM5)', 'Auto(L3)', 'Automatic (AV)', 'Automatic 6spd', 'Automatic (AM6)', 'Automatic (S5)', 'Automatic 9spd', 'Manual 5 spd', 'Auto (AVS8)', 'Auto(AM8)', 'Auto(AVS8)', 'Automatic 4spd', 'Manual 7spd', 'Automatic (variable gear ratios)', 'Automatic (S8)', 'Auto(AMS7)', 'Auto(AMS9)', 'Auto(AMS6)', 'Auto (AVS6)', 'Manual 5spd', 'Manual 4spd Doubled', 'Manual 3spd', 'Auto(A1)', 'Manual 4spd', 'Auto(AM7)', 'Auto(AMS8)', 'Automatic 3spd'}

In [156]:
data['trany'] = data['trany'].str.replace('Automatic', 'Auto')
data['trany'] = data['trany'].str.replace('Auto\(', 'Auto ')
data['trany'] = data['trany'].str.replace('Manual\(', 'Manual ')
data['trany'] = data['trany'].str.replace('\(', '')
data['trany'] = data['trany'].str.replace('\)', '')
print(set(data['trany']))

{'Auto 4spd', nan, 'Manual M7', 'Auto variable gear ratios', 'Auto S6', 'Auto AM8', 'Auto AMS7', 'Auto AVS6', 'Auto S7', 'Auto AM6', 'Auto AMS9', 'Auto AM7', 'Manual 6spd', 'Auto 5spd', 'Auto L3', 'Auto A6', 'Auto 8spd', 'Auto 7spd', 'Auto 9spd', 'Auto S9', 'Manual 5 spd', 'Auto AVS7', 'Auto S4', 'Auto AV', 'Auto AMS8', 'Manual 7spd', 'Auto AMS6', 'Auto 6spd', 'Manual 5spd', 'Manual 4spd Doubled', 'Manual 3spd', 'Auto A1', 'Auto S8', 'Manual 4spd', 'Auto AM5', 'Auto 3spd', 'Auto L4', 'Auto S5', 'Auto AVS8'}

In [157]:
# data.loc[data['trany'].str.contains('Auto')]='Automatic'
# data.loc[data['trany'].str.contains('Manual')]='Manual'

In [158]:
import numpy as np
data['trany'] = np.where(data['trany'].str.contains('Auto'),"Automatic",data['trany'])
data['trany']

0        Manual 5spd
1        Manual 5spd
2        Manual 5spd
3          Automatic
4        Manual 5spd
5          Automatic
6        Manual 5spd
7          Automatic
8        Manual 5spd
9          Automatic
10       Manual 5spd
11         Automatic
12       Manual 5spd
13         Automatic
14         Automatic
15       Manual 5spd
16         Automatic
17       Manual 5spd
18         Automatic
19       Manual 5spd
20         Automatic
21         Automatic
22         Automatic
23         Automatic
24         Automatic
25       Manual 4spd
26         Automatic
27         Automatic
28         Automatic
29         Automatic
            ...
37813    Manual 5spd
37814      Automatic
37815    Manual 5spd
37816      Automatic
37817    Manual 5spd
37818      Automatic
37819      Automatic
37820    Manual 5spd
37821    Manual 4spd
37822    Manual 5spd
37823      Automatic
37824      Automatic
37825    Manual 4spd
37826    Manual 5spd
37827      Automatic
37828      Automatic
37829    Manual 5spd
37830    Manual 5spd
37831      Automatic
37832      Automatic
37833    Manual 5spd
37834      Automatic
37835      Automatic
37836    Manual 5spd
37837    Manual 5spd
37838      Automatic
37839    Manual 5spd
37840      Automatic
37841    Manual 5spd
37842      Automatic
Name: trany, Length: 37843, dtype: object

In [161]:
def change(x):
    x = x.lower()
    if 'auto' in x.split():
        x = 'Automatic'
    elif 'manual' in x.split():
        x = 'Manual'
    return(x)    
data['trany'] = list(map(change, data['trany']))     
data['trany']

['Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'Manual',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'Manual',
 'Manual',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 'automatic',
 'Manual',
 ...]

In [ ]:
# 'Manual' in data['trany'][0].split()
data['trany']

Number of duplicate records dropped:  0

In [163]:
select_columns = ['make', 'model', 'year', 'displ', 'cylinders', 
                  'trany', 'drive', 'VClass','fuelType','barrels08', 
                  'city08', 'highway08', 'comb08', 'co2TailpipeGpm', 'fuelCost08']

data = data[select_columns].drop_duplicates()
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  1013