Delimited files for eg 


    Comma-separated variable (CSV) files
    Tab-delimited files
    Pipe-delimited files

### Importing and Exporting Delimited Files

In [54]:
import pandas as pd
data = pd.read_csv('/Users/himanshuaggarwal//ironhack-my-content/himanshu/data/vehicles/vehicles.csv')

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
# pd.read

In [55]:
type(data)

pandas.core.frame.DataFrame

In [61]:
data.head(1)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,27,522.764706,1950


Exporting data as a different csv file after making some changes

In [59]:
data['Combined MPG'] = data['Combined MPG'] + 10
data.to_csv('/Users/himanshuaggarwal//ironhack-my-content/himanshu/data/vehicles/vehiclesCOPIED.csv')

In [60]:
data2 = pd.read_csv('/Users/himanshuaggarwal//ironhack-my-content/himanshu/data/vehicles/vehiclesCOPIED.csv')
data2.head(3)

,Unnamed: 0,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,27,522.764706,1950
1,1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,23,683.615385,2550
2,2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,26,555.437500,2100


Tab Separated files

In [23]:
pd.set_option('display.max_columns', None)

In [62]:
data = pd.read_csv('/Users/himanshuaggarwal/ironhack-my-content/himanshu/data/vehicles/vehicles_tab.txt', sep='\t')
data.head(3)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100

In [25]:
# Export tab-delimited file
data.to_csv('/Users/himanshuaggarwal//ironhack-my-content/himanshu/data/vehicles/vehicles_tabCOPIED.txt', sep='\t', index=False)
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550


Pipe delimited file

In [26]:
data = pd.read_csv('/Users/himanshuaggarwal//ironhack-my-content/himanshu/data/vehicles/vehicles_pipe.txt', sep='|')
data.head(3)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100

In [ ]:
# Export pipe-delimited file
data.to_csv('vehicles/vehicles_pipeCOPIED.txt', sep='|', index=False)

### Importing and Exporting Excel

In [28]:
data = pd.read_excel('/Users/himanshuaggarwal/ironhack-my-content/himanshu/data/vehicles/vehicles.xlsx')
data.head(3)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100

In [29]:
#data.to_excel('vehicles/vehicles.xlsx', index=False)

### Importing and Exporting JSON

In [30]:
data = pd.read_json('/Users/himanshuaggarwal/ironhack-my-content/himanshu/data/vehicles/vehicles.json', orient='records')
data.head(3)

,CO2 Emission Grams/Mile,City MPG,Combined MPG,Cylinders,Drivetrain,Engine Displacement,Fuel Barrels/Year,Fuel Cost/Year,Fuel Type,Highway MPG,Make,Model,Transmission,Vehicle Class,Year
0,522.764706,18,17,4,2-Wheel Drive,2.5,19.388824,1950,Regular,17,AM General,DJ Po Vehicle 2WD,Automatic 3-spd,Special Purpose Vehicle 2WD,1984
1,683.615385,13,13,6,2-Wheel Drive,4.2,25.354615,2550,Regular,13,AM General,FJ8c Post Office,Automatic 3-spd,Special Purpose Vehicle 2WD,1984
2,555.437500,16,16,4,Rear-Wheel Drive,2.5,20.600625,2100,Regular,17,AM General,Post Office DJ5 2WD,Automatic 3-spd,Special Purpose Vehicle 2WD,1985

In [32]:
data.to_json('/Users/himanshuaggarwal/ironhack-my-content/himanshu/data/vehicles/vehiclesCOPIED.json', orient='records')

In [63]:
json = {
  "cms_prescription_counts": {
    "CEPHALEXIN": 23, 
    "AMOXICILLIN": 52, 
    "HYDROCODONE-ACETAMINOPHEN": 28},
  "provider_variables": {
    "settlement_type": "non-urban", 
    "generic_rx_count": 103, 
    "specialty": "General Practice", 
    "years_practicing": 7, 
    "gender": "M", 
    "region": "South", 
    "brand_name_rx_count": 0}, 
  "npi": "1992715205"}

In [64]:
data = pd.DataFrame.from_dict(json, orient ='columns')
# data = pd.DataFrame.from_dict(json, orient ='index')

In [65]:
data.head()

,cms_prescription_counts,provider_variables,npi
AMOXICILLIN,52.0,NaN,1992715205
CEPHALEXIN,23.0,NaN,1992715205
HYDROCODONE-ACETAMINOPHEN,28.0,NaN,1992715205
brand_name_rx_count,NaN,0,1992715205
gender,NaN,M,1992715205