In [5]:
import statistics as stats
x =[115,91,84,67,75,64]

stats.mean(x)
stats.median(x)


def minmax(val_list):
    min_val = min(val_list)
    max_val = max(val_list)

    return (min_val, max_val)

minmax(x)

(64, 115)

               0
count   7.000000
mean    9.857143
std     6.256425
min     2.000000
25%     5.500000
50%     8.000000
75%    14.500000
max    19.000000