# Challenge 1 - Multiple Regression Analysis

# Before your start:

    Read the README.md file
    Comment as much as you can and use the resources (README.md file)
    Happy learning!

In this lab exercise we will work with vehicles.csv data set. 
You can find a copy of the dataset in the git hub folder. 
The objective of this exercise is to predict CO2 emissions for vehicles. 
Please follow the steps and provide your code along with comments.

In [3]:
## Import the libraries for loading the data set 
## Load the dataset

In [25]:
## You can use the warnings library to ignore warnings that might show when you run the code
import warnings
warnings.filterwarnings('ignore')

In [23]:
import pandas as pd
import numpy as np

In [109]:
data = pd.read_csv('/Users/himanshuaggarwal/Datasets/vehicles/vehicles.csv')

In [15]:
data.columns   #same as list(data)
data.dtypes

Make                        object
Model                       object
Year                         int64
Engine Displacement        float64
Cylinders                  float64
Transmission                object
Drivetrain                  object
Vehicle Class               object
Fuel Type                   object
Fuel Barrels/Year          float64
City MPG                     int64
Highway MPG                  int64
Combined MPG                 int64
CO2 Emission Grams/Mile    float64
Fuel Cost/Year               int64
dtype: object

In this exercise, we are not going to use all the variables in the dataset to make the predictions. Here is the
list of the numerical and categorical variables that we will use:
    
    Numerical : Engine Displacement, Fuel Barrels/Year, Combined MPG
    Categorical : Cylinders, Fuel Type, Drivetrain

### Data Pre-processing (Handling Numerical variables)

In [ ]:
In this next step we will perform the data pre-processing operations on the specified numerical varibles

In [17]:
## Store the specified numerical columns data as a dataframe. Give it the name "numerics"

In [27]:
numerics = data[['Engine Displacement', 'Fuel Barrels/Year', 'Combined MPG']]

In [ ]:
## Check if "numerics" is actually a dataframe using numerics.head(3)

In [34]:
numerics.head(3)

   Engine Displacement  Fuel Barrels/Year  Combined MPG
0                  2.5          19.388824            17
1                  4.2          25.354615            13
2                  2.5          20.600625            16

### MinMax scaler

Hint: Since we are using "numerics" to store the nummerical variables we can pass "numerics" directly
as MinMaxScaler().fit(numerics)

In [ ]:
## Import the required library
## Perform the scaling and store the results inside "numerical"

In [81]:
from sklearn.preprocessing import MinMaxScaler
transformer = MinMaxScaler().fit(numerics)
numerical = transformer.transform(numerics)

          0         1         2
0  0.243590  0.411014  0.204082
1  0.461538  0.537873  0.122449
2  0.243590  0.436782  0.183673
3  0.461538  0.537873  0.122449
4  0.410256  0.436782  0.183673

In [82]:
## Convert "numerical" into a dataframe so that it can be used later with the dataframe of categorical variables

In [83]:
numerical = pd.DataFrame(numerical)
numerical.head()

          0         1         2
0  0.243590  0.411014  0.204082
1  0.461538  0.537873  0.122449
2  0.243590  0.436782  0.183673
3  0.461538  0.537873  0.122449
4  0.410256  0.436782  0.183673

### Data Pre-processing (Handling Categorical variables)

In [ ]:
In this step we will perform the data pre-processing operations on the specified categorical varibles

In [31]:
## Similar to numerical variables, store the specified categorical columns data as a dataframe. 
## Give it the name "cats"

In [64]:
cats = data[['Cylinders', 'Fuel Type', 'Drivetrain']]

In [54]:
## Check if "cats" is actually a dataframe using cats.head(3)

In [55]:
cats.head(3)

   Cylinders Fuel Type        Drivetrain
0        4.0   Regular     2-Wheel Drive
1        6.0   Regular     2-Wheel Drive
2        4.0   Regular  Rear-Wheel Drive

In [56]:
## Use label encoding to convert the categorical variabels into numerical variables

In the exercise we will use the LabelEncoder module to perform Label Encoding. The steps have been shown below:
from sklearn.preprocessing import LabelEncoder
labels = LabelEncoder()
cats['Cylinders'] = labels.fit_transform(cats['Cylinders'])

In [66]:
## Perform the same operation on columns "Fuel Type" and "Drivetrain"

In [65]:
from sklearn.preprocessing import LabelEncoder
labels = LabelEncoder()
cats['Cylinders'] = labels.fit_transform(cats['Cylinders'])
cats['Fuel Type'] = labels.fit_transform(cats['Fuel Type'])
cats['Drivetrain'] = labels.fit_transform(cats['Drivetrain'])

   Cylinders  Fuel Type  Drivetrain
0          2         10           0
1          4         10           0
2          2         10           7
3          4         10           7

In [67]:
## Check if the conversion took place as desired using the head()

In [68]:
cats.head(5)

   Cylinders  Fuel Type  Drivetrain
0          2         10           0
1          4         10           0
2          2         10           7
3          4         10           7
4          4          6           7

You can see that Label encoding applies weights to different categories which is not desirable here. 
For eg. Fuel Type category that has been given the value 10 certainly carries more numerical weight than
the category that has a weight of 1. While in reality they are just two different categories of the same 
column and we do not know which one is more important than the other. 
Therefore we will use One Hot Encoding.

### Using One Hot Encoding

In [ ]:
# Store the categorical variable in another dataframe "cats2" and perform One hot encoding
# Store the results (one hot encoded dataframe) into "categorical"

In [74]:
cats2 = data[['Cylinders', 'Fuel Type', 'Drivetrain']]

In [85]:
categorical = pd.get_dummies(cats2, columns=['Cylinders', 'Fuel Type', 'Drivetrain'])

In [86]:
## Check how the new OHE data looks like using the head() function

In [87]:
categorical.head()

,Cylinders_2.0,Cylinders_3.0,Cylinders_4.0,Cylinders_5.0,Cylinders_6.0,Cylinders_8.0,Cylinders_10.0,Cylinders_12.0,Cylinders_16.0,Fuel Type_CNG,...,Fuel Type_Regular Gas and Electricity,Fuel Type_Regular Gas or Electricity,Drivetrain_2-Wheel Drive,"Drivetrain_2-Wheel Drive, Front",Drivetrain_4-Wheel Drive,Drivetrain_4-Wheel or All-Wheel Drive,Drivetrain_All-Wheel Drive,Drivetrain_Front-Wheel Drive,Drivetrain_Part-time 4-Wheel Drive,Drivetrain_Rear-Wheel Drive
0,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

Now we have pre-processed our specified numerical and categorical data. 
In this next step we will combine the two dataframes (numerical and categorical)

You can the following code to combine / concatenate the two dataframes

In [91]:
X = pd.concat([numerical,categorical],axis=1)

Now that we have processed our predictor varibles, we can work towards fitting the multiple regression model 
on the data

In [ ]:
## Store the target variable CO2 "emissions for vehicles" as a dataframe 'Y'

In [92]:
Y = pd.DataFrame(data = data, columns = ['CO2 Emission Grams/Mile'])

In [94]:
## Import the libraries required for regression model 
## Fit the linear regression model on the data

In [95]:
from sklearn import linear_model
lm = linear_model.LinearRegression()
model = lm.fit(X,Y)

In [ ]:
## Make predictions on the dataset, store the results in "predictions"

In [104]:
predictions  = lm.predict(X)

In [106]:
## Print the measures of accuracy of the model - MSE, RMSE, and R2 score

Hint: Use from sklearn.metrics import mean_squared_error, r2_score

In [107]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(Y, predictions)
print(mse)

54.71336997864759

In [108]:
r2_score(Y, predictions)

0.9961401702622418