In [1]:
import pandas as pd

blood_pressure = pd.read_csv('blood_pressure.csv')
blood_pressure.head()

       before       after
0  136.713072   92.432965
1  134.735618  105.022643
2  127.529115   82.242766
3  144.527126   93.607172
4  124.214720  103.212223

In [2]:
from scipy.stats import ttest_rel

In [3]:
ttest_rel(blood_pressure.after, blood_pressure.before)

Ttest_relResult(statistic=-27.291841767560236, pvalue=7.303035069608042e-48)

In [4]:
from scipy.stats import ttest_1samp
ttest_1samp(blood_pressure.after-blood_pressure.before, 0)

Ttest_1sampResult(statistic=-27.291841767560236, pvalue=7.303035069608042e-48)