
### Tuples

In [1]:
chocolates = ('dark', 'milk', 'semi sweet')

In [2]:
chocolates

('dark', 'milk', 'semi sweet')

In [3]:
chocolates[0]

'dark'

In [17]:
for item in chocolates:
    print(item)

dark
milk
semi sweet

In [4]:
chocolates[3]='cocoa'

TypeError: 'tuple' object does not support item assignment

In [5]:
type(chocolates)

tuple

### Quick Quiz

1. Can you create a tuple with only one element

In [10]:
x = ("himan")
type(x)

str

In [6]:
names = "himanshu",

In [7]:
names

('himanshu',)

In [8]:
type(names)

tuple


2. We all know that tuples are immutable. But can you do something to make them mutable 

Is the following implementation correct

In [14]:
test = (1,2,3,[4,5,6])

In [15]:
test[3]

[4, 5, 6]

In [47]:
type(test)

tuple

In [39]:
test.pop()

(4, 5, 6)

In [40]:
test

[1, 2, 3]

### Methods on tuples

We know that we cannot change the elements of a tuple but we can delete the tuple entirely

In [48]:
del test

In [49]:
test

NameError: name 'test' is not defined

Concat tuples

In [16]:
tup1 = (1,2,3,4)
tup2 = (5,6,7,8)
x = tup1+tup2
type(x)

tuple

In [51]:
type(tup1+tup2)

tuple

### Dictionaries


There are cases where we want to easily retrieve our data rather than iterate through an entire list.
Dicts are a sequence of key value pairs. We store the data behind the scenes in a hash map. This means that we use the key to generate a unique index (called a hash) and store the value in the location marked by that index. This makes retrieval very fast.

In [19]:
contacts['John']

'312-555-1234'

In [20]:
contacts.keys()

dict_keys(['John', 'Paul', 'George', 'Ringo'])

In [21]:
contacts.values()

dict_values(['312-555-1234', '312-555-3123', '312-555-3333', '312-555-2222'])

In [22]:
contacts.items()

dict_items([('John', '312-555-1234'), ('Paul', '312-555-3123'), ('George', '312-555-3333'), ('Ringo', '312-555-2222')])

In [55]:
print(contacts)

{'John': '312-555-1234', 'Paul': '312-555-3123', 'George': '312-555-3333', 'Ringo': '312-555-2222'}

In [57]:
print(contacts.items())

dict_items([('John', '312-555-1234'), ('Paul', '312-555-3123'), ('George', '312-555-3333'), ('Ringo', '312-555-2222')])

In [61]:
type(contacts)

dict

In [28]:
contacts['Pete'] = '312-555-1111'

In [26]:
del contacts['John']

In [29]:
contacts

{'Paul': '312-555-3123',
 'George': '312-555-3333',
 'Ringo': '312-555-2222',
 'Pete': '312-555-1111'}

In [30]:
contacts.items()

dict_items([('Paul', '312-555-3123'), ('George', '312-555-3333'), ('Ringo', '312-555-2222'), ('Pete', '312-555-1111')])

In [35]:
contacts = {'John': ['312-555-1234', '312-555-188974'], 'Paul': '312-555-3123', 'George': '312-555-3333', 'Ringo': '312-555-2222'}

contacts['John'][1]

'312-555-188974'

In [38]:
for keys in contacts.keys():
    print(keys)
#     print(contacts[keys])

John
Paul
George
Ringo

In [32]:
for k, v in contacts.items():
     print(k,":",v)

John : ['312-555-1234', '312-555-1234']
Paul : 312-555-3123
George : 312-555-3333
Ringo : 312-555-2222

### Nested Dictionaries

In [44]:
contacts = {1: {'Name' : 'John' , 'Phone':'312-555-1234'},
            2: {'Name' : 'Paul' , 'Phone':'312-555-3123'},
            3: {'Name' : 'George' , 'Phone':'312-555-3333'},
            4: {'Name' : 'Ringo' , 'Phone':'312-555-2222'}}

In [45]:
contacts

{1: {'Name': 'John', 'Phone': '312-555-1234'},
 2: {'Name': 'Paul', 'Phone': '312-555-3123'},
 3: {'Name': 'George', 'Phone': '312-555-3333'},
 4: {'Name': 'Ringo', 'Phone': '312-555-2222'}}

In [46]:
print(contacts[1])

{'Name': 'John', 'Phone': '312-555-1234'}

In [50]:
contacts[5] = {'Name': 'Himanshu', 'Phone': '312-555-1111'}

In [51]:
contacts

{1: {'Name': 'John', 'Phone': '312-555-1234'},
 2: {'Name': 'Paul', 'Phone': '312-555-3123'},
 3: {'Name': 'George', 'Phone': '312-555-3333'},
 4: {'Name': 'Ringo', 'Phone': '312-555-2222'},
 5: {'Name': 'Himanshu', 'Phone': '312-555-1111'}}

In [52]:
contacts[1]['Name']

'John'

In [53]:
contacts[5]['Address'] = "Ironhack"

In [54]:
contacts

{1: {'Name': 'John', 'Phone': '312-555-1234'},
 2: {'Name': 'Paul', 'Phone': '312-555-3123'},
 3: {'Name': 'George', 'Phone': '312-555-3333'},
 4: {'Name': 'Ringo', 'Phone': '312-555-2222'},
 5: {'Name': 'Himanshu', 'Phone': '312-555-1111', 'Address': 'Ironhack'}}

In [134]:
for item in contacts:
    print(contacts[item])

{'Name': 'John', 'Phone': '312-555-1234'}
{'Name': 'Paul', 'Phone': '312-555-3123'}
{'Name': 'George', 'Phone': '312-555-3333'}
{'Name': 'Ringo', 'Phone': '312-555-2222'}
{'Name': 'Himanshu', 'Phone': '312-555-1111', 'Address': 'Ironhack'}

In [135]:
for item in contacts:
    print(contacts[item]['Name'])

John
Paul
George
Ringo
Himanshu

In [ ]:
# emails = ['1@renzo.io', '2@renzo.io', '3@renzo.io', '4@renzo.io', '5@renzo.io']
# j = 0
# for i in range(1, len(contacts)):
#     contacts[i]['Email'] = emails[j]
#     j += 1
# print(contacts)

### Sets


They have different functions associated with them such as Union, intersection, and difference

In [55]:
letters = set()

In [56]:
type(letters)

set

In [138]:
letters.add('a')

print(letters)

{'a'}

In [139]:
letters.remove('a')

print(letters)
set()

set()

set()

In [65]:
girl_names = set(['Mary', 'Madison', 'Logan', 'Joanna'])
boy_names = set([ 'Alexander', 'John', 'Logan', 'Madison'])

In [66]:
unisex_names = girl_names.intersection(boy_names)
print(unisex_names)

{'Logan', 'Madison'}

In [67]:
all_names = boy_names.union(girl_names)
print(all_names)

{'Alexander', 'Joanna', 'John', 'Logan', 'Madison', 'Mary'}

In [68]:
boy_only_names = boy_names - girl_names
print(boy_only_names)

{'Alexander', 'John'}